<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="/">The LB Library</a>
                </div>
                <div class="collapse navbar-collapse" id="nav">
                  <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                      </ul>
                    </li>
                    <li>
                        <form class="navbar-form navbar-left" action='/search_books' method='post'>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name='search_input'>
                            <button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'></span></button>
                          </div>
                        </form>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <h1><mark>Authors GALORE!</mark></h1>
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='well'>
                        {% if authors is not empty %}
                        <h3>All Authors</h3>
                            <ul>
                                {% for author in authors %}
                                    <a href='/authors/{{ author.getId }}'><li>{{ author.getName }}</li></a>
                                {% endfor %}
                            </ul>
                            <hr>
                        {% endif %}
                        <form action='/authors' method='post'>
                            <h3>Add an Author</h3>
                            <div class='form-group'>
                                <label>Name:</label>
                                <input type='text' name='name' class='form-control'>
                            </div>
                            <button type='submit' class='btn btn-info'>Add</button>
                        </form>
                    </div>
                </div>
                <div class='col-sm-9'>
                    <div class='well'>
                        {% if author is empty %}
                            <h3 class='text-center'>Select an author from the list</h3>
                        {% else %}
                            <h2>{{ author.getName }}</h2>
                            {% if authorBooks is not empty %}
                                <ul>
                                    {% for book in authorBooks %}
                                        <li>
                                            <a href='/books/{{ book.getId }}'>{{ book.getTitle }}</a>
                                            <form class='inline' action='/authors/delete/{{ author.getId }}' method='post'>
                                                <input type='hidden' name='_method' value='delete'>
                                                <input type='hidden' name='book_id' value='{{ book.getId }}'>
                                                <button class='trash' type='submit'><span class='glyphicon glyphicon-trash'></span></button>
                                            </form>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                            <hr>
                            <div class='row'>
                                <div class='col-sm-6'>
                                    <h3>Add a Book</h3>
                                    <form class='editForm' action='/authors/add/{{ author.getId }}' method='post'>
                                        <div class='form-group'>
                                            <label>Title:</label>
                                            <select class='form-control' name='book_id'>
                                                {% for book in allBooks %}
                                                    <option value='{{ book.getId }}'>{{ book.getTitle }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-book'></span> Add</button>
                                    </form>
                                </div>
                                <div class='col-sm-6'>
                                <h3>Edit Author</h3>
                                <form class='editForm' action='/authors/{{ author.getId }}' method='post'>
                                    <input type='hidden' name='_method' value='patch'>
                                    <div class='form-group'>
                                        <label>Name:</label>
                                        <input type='text' name='name' class='form-control' value='{{ author.getName }}'>
                                    </div>
                                    <button type='submit' class='pull-left btn btn-info'><span class='glyphicon glyphicon-pencil'></span> Edit</button>
                                </form>
                                <form class='deleteButton' action='/authors/{{ author.getId }}' method='post'>
                                    <input type='hidden' name='_method' value='delete'>
                                    <button class='pull-right btn btn-danger' type='submit'><span class='glyphicon glyphicon-trash'></span> Delete Author</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
