<!DOCTYPE html>
<html>
    <body>
        <div class='container'>
            <nav class="navbar navbar-default">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand">The LB Library</a>
                </div>
                <div class="collapse navbar-collapse" id="nav">
                  <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" action='/search_books' method='post'>
                          <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" name='search_input'>
                            <button type="submit" class="btn btn-default"><span class='glyphicon glyphicon-search'></span></button>
                          </div>
                        </form>
                    </li>
                    <li>
                        {% if user != null %}
                            <a href="/patron">My Account</a>
                        {% else %}
                            <a href="/">Home</a>
                        {% endif %}
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
            <h1><mark>Books GALORE!</mark></h1>
            <div class='row'>
                <div class='col-sm-3'>
                    <div class='well'>
                        {% if books is not empty %}
                        <h3>All Books</h3>
                            <ul>
                                {% for book in books %}
                                    <a href='/books/{{ book.getId }}'><li>{{ book.getTitle }}</li></a>
                                {% endfor %}
                            </ul>
                            <hr>
                        {% endif %}
                        <form action='/books' method='post'>
                            <h3>Add a Book</h3>
                            <div class='form-group'>
                                <label>Title:</label>
                                <input type='text' name='title' class='form-control'>
                            </div>
                            <div class='form-group'>
                                <label>Number of copies:</label>
                                <input type='text' name='copies' class='form-control'>
                            </div>
                            <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-book'></span> Add</button>
                        </form>
                    </div>
                </div>
                <div class='col-sm-9'>
                    <div class='well'>
                        {% if book is empty %}
                            <h3 class='text-center'>Select a book from the list</h3>
                        {% else %}
                            {% if user != null and copies > 0 %}
                                <a class='pull-right' href="/patron/{{ book.getId }}">Check out a copy!</a>
                            {% elseif user != null and copies == 0 %}
                                <p class='pull-right'>(No copies available)</p>
                            {% endif %}
                            <h2>{{ book.getTitle }}</h2>
                            {% if bookAuthors is not empty %}
                                <p>By:
                                {% for author in bookAuthors %}
                                    {{ author.getName }}{% if bookAuthors|length == 2 and loop.index == 1 %} and
                                    {% elseif bookAuthors|length > 2 and loop.index < bookAuthors|length - 1 %},
                                    {% elseif bookAuthors|length > 2 and loop.index == bookAuthors|length - 1 %}, and
                                    {% endif %}
                                {% endfor %}
                                </p>

                            {% endif %}
                            <h5>Number of copies available: {{ copies }} </h5>

                            <hr>
                            <div class='row'>
                                <div class='col-sm-4'>
                                    <h3>Add Copies</h3>
                                    <form action="/books/{{ book.getId }}" method="post">
                                        <div class='form-group'>
                                            <label>Number of additional copies:</label>
                                            <input type='text' name='copies' class='form-control'>
                                        </div>
                                        <button class='btn btn-info' type='submit'><span class='glyphicon glyphicon-duplicate'></span> Add</button>
                                    </form>
                                </div>
                                <div class='col-sm-4'>
                                    <h3>Add an Author</h3>
                                    <form class='editForm' action='/books/add/{{ book.getId }}' method='post'>
                                        <div class='form-group'>
                                            <label>Name:</label>
                                            <select class='form-control' name='author_id'>
                                                {% for author in allAuthors %}
                                                    <option value='{{ author.getId }}'>{{ author.getName }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-user'></span> Add</button>
                                    </form>

                                </div>
                                <div class='col-sm-4'>
                                    <h3>Edit Book</h3>
                                    <form class='editForm' action='/books/{{ book.getId }}' method='post'>
                                        <input type='hidden' name='_method' value='patch'>
                                        <div class='form-group'>
                                            <label>Title:</label>
                                            <input type='text' name='title' class='form-control' value='{{ book.getTitle }}'>
                                        </div>
                                        <button type='submit' class='btn btn-info'><span class='glyphicon glyphicon-pencil'></span> Edit</button>
                                    </form>
                                    <form class='deleteButton' action='/books/{{ book.getId }}' method='post'>
                                        <input type='hidden' name='_method' value='delete'>
                                        <button class='btn btn-danger pull-right' type='submit'><span class='glyphicon glyphicon-trash'></span> Delete Book</button>
                                    </form>
                                </div>

                            </div>


                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
